*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  /* background-color: #1e1e1e; */
  height: 200%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header{
  color: #89986D;
  padding-top: 20px;
  padding-bottom: 30px;
  width: 100%;
  background-color: #F6F0D7;
}
header h1{
    height: 100%;
    width:100%;
    align-content: center;
    justify-items: center;
    text-align: center;
}
section{
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.input{
  height: 100%;
  padding: 1%;
  width:60%;
  border-radius: 24px;
  border-color: darkgray;
  border-style:outset;
}
.ADD{
  background-color: rgb(243, 198, 140);
  padding: 1%;
  margin-left: 5px;
  border-radius: 24px;
  border: none;
  height: 100%;
  font-size: 18px;
  width: 120px;
}
.ADD:hover{
  background-color: rgb(243, 198, 140,0.8);
  cursor: pointer;
}

ul{
  height: 100%;
  width: 75%;
  background-color: #C5D89D;
  color:#89986D;
  justify-content: center;
  padding: 2%;
  margin: auto;
  border-radius: 24px;
}

li{
  display: flex;
  justify-content: space-between;
  padding: 1%;
  border-bottom: 1px solid #89986D;
  list-style: none;
}

li button{
  background-color: rgb(243, 198, 140);
  border: none;
  border-radius: 24px;
  padding: 0.5%;
  width: 80px;
}
.total{
  background-color: rgb(243, 198, 140);
  border: none;
  border-radius: 24px;
  padding: 0.5%;
  width: 150px;
  margin: auto;
  margin-top: 20px;
}
h3{
  color: #89986D;
  text-align: center;
  margin-top: 20px;
}