.add{
    background-color: #d7cb95; /* Green */
    border: none;
    color: white;
    width: 40%;
    height: 30%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: inset 0 0 50px #000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.list{
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    width: 40%;
    height: 55%;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: inset 0 0 50px #000;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.container{
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #d9c5ba;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: Arial, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 1.6;
    gap: 20px;
}
h1{
    text-align: center;
    color: #333;
}
.add:hover{
    background-color: #cfbba0; /* Darker Green */
    transform: scale(1.05);
}
.list:hover{
    background-color: #007bb5; /* Darker Blue */
    transform: scale(1.05);
}
#input{
    justify-content: center;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow:  0 0 50px #000000;
    font-size: 16px;
    margin-bottom: 20px;
}
#input:focus{
    outline: none;
    border-color: #007bb5;
    box-shadow: 0 0 5px #007bb5;
}
#list{
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 0 50px #000000;
    font-size: 16px;
    margin-bottom: 20px;
}